# Local broker receiving raw MeshCore packets
INPUT_BROKER=mqtt://localhost:1884
# INPUT_MQTT_USER=
# INPUT_MQTT_PASS=

# Main broker to publish decoded messages to
OUTPUT_BROKER=mqtt://192.168.11.10:1883
OUTPUT_MQTT_USER=mqtt
OUTPUT_MQTT_PASS=mqtt

# Public channel secret (base64)
PUBLIC_SECRET=izOH6cXN6mrJ5e26oRXNcg==

# Comma-separated list of hashtag channels to monitor
HASHTAGS=test,northwest

