# Response Handling
# Copy this to responses.sh and customize for your setup.

handle_responses() {

	local mc_channel_idx="$1"
	local mc_text="$2"
	local mc_user="$3"
	local mc_name="$4"
	local mc_hopped="$5"
	
	mc_reply=""
	case "$mc_channel_idx" in

		"0")
			## Public Channel
			##  You really shouldn't have bot responses in here.
		;;

		"1")
			## Channel Slot 1
			##  Simple exact-match ping responder.
			if [[ "${mc_text,,}" == "!ping" ]]; then
				mc_reply="@[$mc_user] pong!"
			fi
		;;

		"null")
			## Direct Messages
			##  Reply back with the original message included.
			mc_reply=$(fit_reply "Rx '" "$mc_text" "'." 150)
		;;

	esac
	
	echo "$mc_reply"

}
